@import url('./typography.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-['IBM_Plex_Mono'] font-bold;
  }
}

@layer components {
  .text-neon-white {
    @apply text-white [text-shadow:0_0_2px_rgba(255,255,255,0.75),0_0_6px_rgba(255,255,255,0.75),0_0_12px_rgba(255,255,255,0.75)];
  }

  @keyframes neon-flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 2px rgba(255,255,255,0.75),
        0 0 6px rgba(255,255,255,0.75),
        0 0 12px rgba(255,255,255,0.75);
    }

    20%, 24%, 55% {
      text-shadow: none;
    }
  }

  .text-neon-white-flicker {
    animation: neon-flicker 1.5s infinite alternate;
  }

  @keyframes neon-pulsate {
    100% {
      text-shadow: 0 0 6px rgba(255,255,255,0.75), 0 0 10px rgba(255,255,255,0.75), 0 0 16px rgba(255,255,255,0.75);
    }

    0% {
      text-shadow: 0 0 2px rgba(255,255,255,0.75), 0 0 4px rgba(255,255,255,0.75), 0 0 12px rgba(255,255,255,0.75);
    }
  }

  .text-neon-white-pulsate {
    animation: neon-pulsate 2.5s infinite alternate;
  }
}
