@import url('./typography.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-['IBM_Plex_Mono'] font-bold;
  }
}

@layer components {
  .text-neon-white {
    @apply text-white [text-shadow:0_0_2px_rgba(255,255,255,0.75),0_0_6px_rgba(255,255,255,0.75),0_0_12px_rgba(255,255,255,0.75)];
  }

  @keyframes neon-flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow: 0 0 2px rgba(255,255,255,0.75), 0 0 6px rgba(255,255,255,0.75), 0 0 12px rgba(255,255,255,0.75);
    }

    20%, 24%, 55% {
      text-shadow: none;
    }
  }

  @keyframes neon-pulsate {
    100% {
      text-shadow: 0 0 6px rgba(255,255,255,0.75), 0 0 10px rgba(255,255,255,0.75), 0 0 16px rgba(255,255,255,0.75);
    }

    0% {
      text-shadow: 0 0 2px rgba(255,255,255,0.75), 0 0 4px rgba(255,255,255,0.75), 0 0 12px rgba(255,255,255,0.75);
    }
  }

  .text-neon-white-flicker {
    animation: neon-flicker 1.5s infinite alternate;
  }

  .text-neon-white-pulsate {
    animation: neon-pulsate 2.5s infinite alternate;
  }

  @keyframes animatedBackground {
    0% { background-position: 0 0; }
    10% { background-position: -100px 100px; }
    20% { background-position: -150px -100px; }
    30% { background-position: -100px 100px; }
    40% { background-position: -100px -150px; }
    50% { background-position: -100px 200px; }
    60% { background-position: -200px -100px; }
    70% { background-position: 50px 100px; }
    80% { background-position: 100px -150px; }
    90% { background-position: 0px 200px; }
    100% { background-position: -100px 100px; }
  }

  .bg-tv-static {
    @apply absolute -inset-[500px] opacity-35 bg-[length:320px_320px] [animation:animatedBackground_0.2s_linear_infinite] border-[1000px] border-[hsla(0,0%,100.0000%,0.05000)];
    background: transparent url(https://www.dropbox.com/s/h7ab1c82ctzy83n/noise.png?raw=1) 0 0;
    transition: border-top-width 0.5s ease 0.5s,
                border-left-width 0.5s ease  0.75s,
                border-bottom-width 0.5s ease 0.5s,
                border-right-width 0.5s ease 0.75s,
                border-color 0.5s ease;
  }
}
